body {
    background-color: whitesmoke;
}

.logo {
    background-image: url('images/AuctionsLogo.png');
    background-repeat: no-repeat;
    background-size: contain;
    min-height: 80px;
}
h6 {
    font-size: 1rem;
}

.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.margin {
    margin: 1vh 5vw;
}
.flex1 {
    margin-top: 8vh 0;
    flex: 1;
}

.flex2 {
    margin: 8vh 0;
    flex: 2;
}

.background {
    background-image: url('images/books.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
}

.flex-item {
    margin: auto;
    padding: 15px;
}

.search {
    width: 250px;
    padding: 2px 5px;
    outline: none;
    border: 0.5px solid black;
}

.search:hover {
    box-shadow: 0 0 11px rgba(33, 33, 33, 0.2);
}

.categories {
    padding: 2px;
    border: 0.5px solid black;
}

.categories:focus {
    outline: none;
}

img {
    object-fit: contain;
}