{% extends "auctions/layout.html" %}

{% block body %}
{% if messages %}
<ul class="messages">
  {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>
      {{ message }}
    </li>
  {% endfor %}
</ul>
{% endif %}
<img src="{{ listing.image.url }}" alt="image" style="width: 300px; height:auto;">
<h1>{{ listing.title }}</h1>
<p>{{ listing.description }}</p>
<p>{{ listing.start_bid }}</p>
<p>{{ listing.get_category_display }}</p>
<p>{{ listing.user }}</p>
<p>{{ listing.date_created }}</p>
<a href="{% url 'watch' listing.title %}">Add to watchlist</a>

<form action="{% url 'comment' listing.title %}" method="POST">
  {% csrf_token %}
  {{ form.as_p }}
  <input type="submit" value="Submit">
</form>

{% for comment in listing.comment.all %}
<h6>{{ comment.subject }}</h6>
<p>{{ comment.comment }}</p>
<p>{{ comment.user }} {{ comment.date }}</p>
{% if request.user == comment.user %}
  <a href="{% url 'delete_comment' comment.subject %}">Delete</a>
{% endif %}
{% endfor %}

{% endblock %}