{% extends "auctions/layout.html" %}

{% block body %}
<div class="background">
  <div class="margin flex">
      <div class="flex1">
          <div class="history">History is priceless...</div>
      </div>
      <div class="flex flex2">
          <form action="{% url 'search' %}">
              <input class="search" type="text" name="q" placeholder="Search">
          </form>
          <div class="dropdown">
              <button class="categories dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Categories
              </button>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                  {% for category in categories %}
                  <a class="dropdown-item" href="{% url 'category' category.category %}">{{ category }}</a>
                  {% endfor %}
              </div>
          </div>
          <a class="flex-item" href="{% url 'index' %}">Active Listings</a>
          <a class="flex-item" href="{% url 'create' %}">Create Listing</a>
          <a class="flex-item" href="{% url 'watchlist' %}">Watchlist</a>
      </div>
  </div>
</div>

<div class="margin flex">
  <div class="flex-item">
  <h2>Listing</h2>
  <div class="messages">
  {% if messages %}
  <ul class="alert alert-info">
    {% for message in messages %}
    <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>
      {{ message }}
    </li>
    {% endfor %}
  </ul>
  {% endif %}

  {% if listing.status == True %}
    <div class="alert alert-secondary">This auction is closed.</div>
    {% for user in listing.bid.all %}
      {% if listing.start_bid == user.bid %}
        {% if user.user == request.user %}
        <div class="alert alert-success">Congratulations {{ user.user }}!</div>
        {% endif %}
      {% endif %}
    {% endfor %}
  {% endif %}
  </div>

<div class="flex item">
  <div class="flex-item"> 
    <img src="{{ listing.image.url }}" alt="image" style="width: 280px; height: 300;">
  </div>
  <div class="flex-item">
    <h1>{{ listing.title }}</h1>
    <p style="max-width: 500px;">{{ listing.description }}</p>
    Current price: {{ listing.price }}$</p>
    <p>{{ listing.get_category_display }}</p>
    <p>Seller: {{ listing.user }} 
    <p>Listed on {{ listing.date_created }}</p>


{% if request.user == listing.user %}
  {% if listing.status == False %}
  <a href="{% url 'status' listing.title %}">Close auction</a>
  {% endif %}
{% endif %}

{% if listing.status == False %}
  {% if request.user != listing.user %}
    <form action="{% url 'item' listing.title %}" method="POST">
      {% csrf_token %}
      {{ bid }}$
    </form>
  {% endif %}

  {% if listing not in watchlist.listing.all %}
    <form action="{% url 'watch' listing.title %}" method="POST">
      {% csrf_token %}
      <button type="submit">Add to watchlist</button>
    </form>
  {% else %}
    <form action="{% url 'dont_watch' listing.title %}" method="POST">
      {% csrf_token %}
      <button type="submit">Remove from watchlist</button>
    </form>
  {% endif %}
{% endif %}
</div>
</div>
</div>
</div>
</div>


<div class="margin flex">
  <div class="flex-item">
<form action="{% url 'comment' listing.title %}" method="POST">
  {% csrf_token %}
  {{ form.as_p }}
  <input type="submit" value="Submit">
</form>

{% for comment in listing.comment.all %}
  <p>{{ comment.subject }}</p>
  <p>{{ comment.comment }}</p>
  <p>{{ comment.user }} {{ comment.date }}</p>
  {% if request.user == comment.user %}
    <a href="{% url 'delete_comment' comment.subject %}">Delete</a>
  {% endif %}
</div>
</div>
{% endfor %}

{% endblock %}