{% extends "auctions/layout.html" %}

{% block body %}
<div class="background">
    <div class="margin flex">
        <div class="flex1">
            <div class="history">History is priceless...</div>
        </div>
        <div class="flex flex2">
            <form action="{% url 'search' %}">
                <input class="search" type="text" name="q" placeholder="Search">
            </form>
            <div class="dropdown">
                <button class="categories dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Categories
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    {% for category in categories %}
                    <a class="dropdown-item" href="{% url 'category' category.category %}">{{ category }}</a>
                    {% endfor %}
                </div>
            </div>
            <a class="flex-item" href="{% url 'index' %}">Active Listings</a>
        </div>
    </div>
</div>

<div class="margin flex">
    <div class="flex-item item">
    <h2>Login</h2>

    {% if message %}
        <div>{{ message }}</div>
    {% endif %}
    <form action="{% url 'login' %}" method="post">
        {% csrf_token %}
        <div class="form-group">
            <input autofocus class="form-control" type="text" name="username" placeholder="Username">
        </div>
        <div class="form-group">
            <input class="form-control" type="password" name="password" placeholder="Password">
        </div>
        <input class="btn btn-primary" type="submit" value="Login">
    </form>
    <div class="p">Don't have an account? <a href="{% url 'register' %}"><b>Register here.</b></a></div>
    </div>
</div>
{% endblock %}