{% extends "auctions/layout.html" %}

{% block body %}
<div class="background">
    <div class="margin flex">
        <div class="flex1">
            <div class="history">History is priceless...</div>
        </div>
        <div class="flex flex2">
            <form action="{% url 'search' %}">
                <input class="search" type="text" name="q" autocomplete="off" placeholder="Search">
            </form>
            <div class="dropdown">
                <button class="categories dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Categories
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    {% for category in categories %}
                    <a class="dropdown-item" href="{% url 'category' category.category %}">{{ category }}</a>
                    {% endfor %}
                </div>
            </div>
            <a class="flex-item" href="{% url 'index' %}">Active Listings</a>
            <a class="flex-item" href="{% url 'create' %}">Create Listing</a>
            <a class="flex-item" href="{% url 'watchlist' %}">Watchlist</a>
        </div>
    </div>
</div>

<h2 class="margin margin-top">Search</h2>
{% if message %}
<h5 class="margin">{{ message }}</h5>
{% endif %}
<div class="margin flex">
    {% for listing in listings %}
    <a class="flex-item listing" href="{% url 'item' listing.title %}">
        <h5>{{ listing.title }}</h5>
        <img src="{{ listing.image.url }}" alt="image" style="width: 200px; height: auto;">
        <p>{{ listing.description }}</p>
    </a>
    {% endfor %}
</div>
    
{% endblock %}