{% extends "auctions/layout.html" %}

{% block body %}
<div class="background">
    <div class="margin flex">
        <div class="flex1">
            <div class="history">History is priceless...</div>
        </div>
        <div class="flex flex2">
            <form action="{% url 'search' %}">
                <input class="search" type="text" name="q" placeholder="Search">
            </form>
            <div class="dropdown">
                <button class="categories dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Categories
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    {% for category in categories %}
                    <a class="dropdown-item" href="{% url 'category' category.category %}">{{ category }}</a>
                    {% endfor %}
                </div>
            </div>
            <a class="flex-item" href="{% url 'index' %}">Active Listings</a>
            <a class="flex-item" href="{% url 'create' %}">Create Listing</a>
        </div>
    </div>
</div>
<h2 class="margin margin-top">Watchlist</h2>
<div class="margin flex">
    {% for listing in watchlist.listing.all %}
    <a class="flex-item listing" href="{% url 'item' listing.title %}">
        <h4>{{ listing.title }}</h4>
        <img src="{{ listing.image.url }}" alt="image" style="width: 250px; height: 300px;">
        <p>{{ listing.description }}</p>
        {% empty %}
        <h5>Nothing in a watchlist</h5>
        {% endfor %}
    </a>
</div>
    
{% endblock %}